[submodule "qtbase"]
	path = qtbase
	url = ../qtbase.git
	branch = 5.7
	status = essential
[submodule "qtsvg"]
	depends = qtbase
	path = qtsvg
	url = ../qtsvg.git
	branch = 5.7
	status = addon
[submodule "qtimageformats"]
	depends = qtbase
	path = qtimageformats
	url = ../qtimageformats.git
	branch = 5.7
	status = addon
